@import "../mixins.scss";

.serviceSection {
  @include homeSection;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    position: relative;
    grid-template-columns: 100%;
    gap: var(--vp-ml);
    grid-template-rows: 45vh 45vh;
    grid-template-areas: 
      "img"
      "info"
    ;
  }
}

.servicesCol {
  position: relative;
  height: calc(100% - 4vh);
  width: calc(100% - 6vw);
  padding: 0;
  margin: 2vh 3vw;
  border: var(--stnd-border);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  @media (max-width: 1024px) {
    border: none;
    width: var(--content-width);
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: visible;
    transition: var(--transition-primary);
  }
}

.mobileServicesNav {
  position: absolute;
  bottom: -10vh;
  left: 5%;  
  height: 5vh;
  width: 90%;
  // background-color: green; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  .arrow {

  }
  .indicatorBullets {
    width: 25vw;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .bullet {
      content: "";
      height: 7px;
      width: 7px;
      border-radius: var(--radius-rounded);
      background-color: var(--grey-20);
      &.activeBulletStyle {
        background-color: var(--text-color) !important;
      }
    }
  }
}

.option {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    border: 1px solid var(--text-color);
    height: 100%;
    width: var(--content-width);
    flex-shrink: 0;
    &:not(:last-child) {
      margin-right: 5vw;
    }
  }
  .title {
    margin: 0;
    font-family: var(--font-title);
    font-size: var(--text-3xl);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      padding-bottom: var(--space-ml);
      padding-right: var(--space-ml);
    }
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 2s;
  }
  .info {
    @include blurbText;
    width: 70%;
    text-align: center;
    margin-bottom: var(--space-xl);
  }
  .binaryBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-title);
    font-weight: var(--semibold);
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    letter-spacing: var(--push-md);
    color: var(--text-accent);
    & > * {
      transition: var(--transition-primary);
    }
    &:hover {
      .divider {
        background-color: var(--text-color);
        width: 50%;
      }
    }
    .btnSegment {
      &:hover {
        color: var(--text-color);
      }
    }
    .divider {
      height: 1px;
      width: 30%;
      margin: var(--space-lg) 0;
      background-color: var(--text-accent);
    }
  }
}

.serviceImg {
  height: 100%;
  width: 100%;
  .left {
    opacity: 1;
  }
  &.right {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}
