@import '../mixins';

.blurb {
  margin: 0 var(--vp-xl);
  padding: var(--vp-xl) var(--vp-xl);
  padding-top: var(--vp-ms);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    margin: 0;
  }
  &.bordered {
    padding-top: var(--vp-xl);
    border: var(--stnd-border);
  }
  .title {
    @include titleText(var(--text-header));
    margin: 0;
    &.lgTitleText {
      white-space: nowrap;
      margin: var(--vp-sm) 0;
      font-size: var(--text-7xl) !important;
      letter-spacing: var(--push-md);
    }
  }
  .text {
    @include blurbText;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    span {
      &:nth-child(2) {
        margin-top: var(--);
      } 
    }
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}
