@import '../mixins';

.blurb {
  margin: 0 var(--vp-xl);
  padding: var(--vp-xl) var(--vp-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.bordered {
    border: 1px solid var(--text-color);
  }
  .title {
    @include titleText(var(--text-4xl));
    margin: 0;
  }
  .text {
    @include blurbText;
    width: 70%;
  }
}
