.expWrap {
  position: relative;
  height: 100%;
  width: 100%;
  &:hover {
    .expBtn {
      opacity: 1;
    }
  }
}

.loadingShade {
  position: absolute;
  z-index: var(--level-two);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 background: linear-gradient(-45deg, #f1f1f1, #5d80af42, #23a5d518, #ffffffa1);
  background-size: 400% 400%;
  background-blend-mode: difference;
	animation: gradient 5s ease infinite;
  background-size: 8000px 100%;
}

.expImage {
  position: relative;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  transition: var(--transition-primary);
  box-sizing: content-box;
  &:hover {
    filter: blur(1px) brightness(.5);
  }
}

.expBtn {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  opacity: 0;
  margin: 0;
  @media (max-width: 1024px) {
    text-align: center;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}