@import "../mixins";

.aboutPage {
  @include homeSection;
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span div p {
      width: 85% !important;
      opacity: 0.2;
    }
  }
}

.aboutContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--vp-2xl);
  &::after {
    position: absolute;
    content: "";
    top: -1%;
    left: 50%;
    width: 1px;
    height: 99%;
    background-color: var(--text-color);
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.location {
  width: 100%;
  margin-bottom: var(--vp-2xl);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "info map"
  ;
  @media (max-width: 1024px) {
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "map"
      "info"
    ;
  }
}

.locationInfo {
  grid-area: info;
  height: 100%;
  width: 100%;
  padding-left: var(--vp-2xl);
  font-size: var(--text-2xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @media (max-width: 1024px) {
    margin-top: var(--vp-md);
    font-size: var(--text-xl);
  }
  h4 {
    text-transform: uppercase;
  }
  .divider {
    height: 1px;
    width: 25%;
    background-color: var(--studio-color);
    margin-top: 2vh;
  }
  h4, 
  p {
    display: flex;
    flex-direction: column;
    a:not(:last-child) {
      margin-bottom: var(--vp-ms);
    }
    a {
      transition: var(--transition-primary);
      &:hover {
        color: var(--studio-color);
      }
    }
    a {
      cursor: alias;
    }
  }
}

.locationMap {
  grid-area: map;
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: var(--radius-sm);
  &:hover {
    img {
      transform: scale(1.1);
    }
    &::after {
      opacity: 1;
    }
  }
  &::after {
    z-index: var(--level-two);
    position: absolute;
    content: 'Open in Google Maps →';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10%;
    background-color: var(--black-fade-20);
    color: var(--white);
    opacity: 0;
    transition: var(--transition-primary);
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: var(--transition-primary);
  }
}

.locationPin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -64%);
}

.teamHeader {
  font-family: var(--font-title);
  font-size: var(--text-header-lg);
  text-transform: uppercase;
  margin-top: var(--vp-xl);
  text-align: center;
}

.backBtn {
  justify-self: flex-end;
  align-self: flex-end;
  transition: var(---transition-primary);
  &:hover {
    color: var(--text-color);
  }
  &::after {
    display: none;
  }
}