// containers

@mixin homeSection {
  position: relative;
  width: 100%;
  width: var(--content-width);
  margin-bottom: var(--vp-3xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


// psuedo elements

@mixin pseudoLine($width, $color) {
  position: absolute;
  z-index: var(--level-one);
  content: '';
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: .5px;
  width: $width;
  background-color: $color;
  // transform-origin: center;
  transition: var(--transition-primary);
}



// typography

@mixin titleText($size) {
  font-family: var(--font-title);
  font-size: $size;
  font-weight: var(--semibold);
  text-transform: uppercase;
  letter-spacing: var(--open);
  text-align: center;
}

@mixin blurbText {
  font-family: var(--font-body);
  font-size: var(--text-prose);
  font-weight: var(--med);
  text-transform: uppercase;
  letter-spacing: var(--open);
  text-align: center;
  text-transform: initial;
}